seventyDays.xccheckout
xcuserdata/
project.xcworkspace/
*.xcuserstate
*.gcno
*.gcda
*.xcscmblueprint
*.DS_Store
CT-SeventyDays/.DS_Store
CT-SeventyDays/backup/Pods/.DS_Store
CT-SeventyDays/seventyDays/.DS_Store
CT-SeventyDays/seventyDays/.DS_Store
